<md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">Laboratorios</div>
      </md-toolbar>
      <md-dialog-content layout-padding>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='hto'>Hto</label><input id="box" type='text' name='hto' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='hb'>Hb</label><input id="box" type='text' name='hb' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='gblancos'>G. Blancos</label><input id="box" type='text' name='gblancos' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='plaq'>Plaq</label><input id="box" type='text' name='plaq' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='glucemia'>Glucemia</label><input id="box" type='text' name='glucemia' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='urea'>Urea</label><input id="box" type='text' name='urea' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='creat'>Creat</label><input id="box" type='text' name='creat' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='na'>Na</label><input id="box" type='text' name='na' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='k'>K</label><input id="box" type='text' name='k' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='lactico'>Lactico</label><input id="box" type='text' name='lactico' />
          </md-input-container>
        </div>

        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='got'>Got</label><input id="box" type='text' name='got' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='gpt'>Gpt</label><input id="box" type='text' name='gpt' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='amilasa'>Amilasa</label><input id="box" type='text' name='amilasa' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='bt'>Bt</label><input id="box" type='text' name='bt' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='bd'>Bd</label><input id="box" type='text' name='bd' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='fal'>Fal</label><input id="box" type='text' name='fal' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='tprot'>T Prot %</label><input id="box" type='text' name='tprot' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='apttseg'>Aptt seg</label><input id="box" type='text' name='apttseg' />
          </md-input-container>
        </div>

        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='ph'>Ph</label><input id="box" type='text' name='ph' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='co2'>Co2</label><input id="box" type='text' name='co2' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='excbase'>Exc Base</label><input id="box" type='text' name='excbase' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='hco3'>HcO3</label><input id="box" type='text' name='hco3' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='po2'>Po2</label><input id="box" type='text' name='po2' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='saro2'>SarO2</label><input id="box" type='text' name='saro2' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='cpk'>Cpk</label><input id="box" type='text' name='cpk' />
          </md-input-container>
        </div>

        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='esd'>ESD</label><input id="box" type='text' name='esd' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='pcr'>PCR</label><input id="box" type='text' name='pcr' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='procalcitonina'>Procalcitonina</label><input id="box" type='text' name='procalcitonina' />
          </md-input-container>
        </div>

        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='lcrorina'>LCR</label><input id="box" type='text' name='lcrorina' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='gborina'>GB.</label><input id="box" type='text' name='gborina' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='protorina'>Prot.</label><input id="box" type='text' name='protorina' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='glucorina'>Gluc.</label><input id="box" type='text' name='glucorina' />
          </md-input-container>
        </div>
        <div class="col-xs-15 col-sm-4 col-md-3 col-lg-2">
          <md-input-container flex>
            <label for='aspectoorina'>Aspecto</label><input id="box" type='text' name='aspectoorina' />
          </md-input-container>
        </div>
      </md-dialog-content>
      <div class="md-actions">
        <md-button aria-label="Close dialog" ng-click="dialog.close()" class="md-primary">
          Cerrar
        </md-button>
        <md-button aria-label="Submit dialog" ng-click="dialog.submit()" class="md-primary">
          Guardar
        </md-button>
      </div>
    </md-dialog>